# Import Module

In [39]:
import pandas as pd

# Load Data

In [30]:
tweets_DM = pd.read_json('dm-2024-isa-5810-lab-2-homework/tweets_DM.json', lines=True)
tweets_DM

,_score,_index,_source,_crawldate,_type
0,391,hashtag_tweets,"{'tweet': {'hashtags': ['Snapchat'], 'tweet_id...",2015-05-23 11:42:47,tweets
1,433,hashtag_tweets,"{'tweet': {'hashtags': ['freepress', 'TrumpLeg...",2016-01-28 04:52:09,tweets
2,232,hashtag_tweets,"{'tweet': {'hashtags': ['bibleverse'], 'tweet_...",2017-12-25 04:39:20,tweets
3,376,hashtag_tweets,"{'tweet': {'hashtags': [], 'tweet_id': '0x1cd5...",2016-01-24 23:53:05,tweets
4,989,hashtag_tweets,"{'tweet': {'hashtags': [], 'tweet_id': '0x2de2...",2016-01-08 17:18:59,tweets
...,...,...,...,...,...
1867530,827,hashtag_tweets,"{'tweet': {'hashtags': ['mixedfeeling', 'butim...",2015-05-12 12:51:52,tweets
1867531,368,hashtag_tweets,"{'tweet': {'hashtags': [], 'tweet_id': '0x29d0...",2017-10-02 17:54:04,tweets
1867532,498,hashtag_tweets,"{'tweet': {'hashtags': [], 'tweet_id': '0x2a6a...",2016-10-10 11:04:32,tweets
1867533,840,hashtag_tweets,"{'tweet': {'hashtags': [], 'tweet_id': '0x24fa...",2016-09-02 14:25:06,tweets
1867534,360,hashtag_tweets,"{'tweet': {'hashtags': ['Sundayvibes'], 'tweet...",2016-11-16 01:40:07,tweets

In [31]:
data_identification = pd.read_csv('dm-2024-isa-5810-lab-2-homework/data_identification.csv')
data_identification

         tweet_id identification
0        0x28cc61           test
1        0x29e452          train
2        0x2b3819          train
3        0x2db41f           test
4        0x2a2acc          train
...           ...            ...
1867530  0x227e25          train
1867531  0x293813          train
1867532  0x1e1a7e          train
1867533  0x2156a5          train
1867534  0x2bb9d2          train

[1867535 rows x 2 columns]

In [32]:
emotion = pd.read_csv('dm-2024-isa-5810-lab-2-homework/emotion.csv')
emotion

         tweet_id       emotion
0        0x3140b1       sadness
1        0x368b73       disgust
2        0x296183  anticipation
3        0x2bd6e1           joy
4        0x2ee1dd  anticipation
...           ...           ...
1455558  0x38dba0           joy
1455559  0x300ea2           joy
1455560  0x360b99          fear
1455561  0x22eecf           joy
1455562  0x2fb282  anticipation

[1455563 rows x 2 columns]

In [33]:
sampleSubmission = pd.read_csv('dm-2024-isa-5810-lab-2-homework/sampleSubmission.csv')
sampleSubmission

              id   emotion
0       0x2c7743  surprise
1       0x2c1eed  surprise
2       0x2826ea  surprise
3       0x356d9a  surprise
4       0x20fd95  surprise
...          ...       ...
411967  0x351857  surprise
411968  0x2c028e  surprise
411969  0x1f2430  surprise
411970  0x2be24e  surprise
411971  0x35802a  surprise

[411972 rows x 2 columns]

# Check Data

In [34]:
tweets_DM['_index'].nunique()

1

In [46]:
tweets_DM['_type'].nunique()

1

In [35]:
first_row = tweets_DM.iloc[0]
first_row['_source']

{'tweet': {'hashtags': ['Snapchat'],
  'tweet_id': '0x376b20',
  'text': 'People who post "add me on #Snapchat" must be dehydrated. Cuz man.... that\'s <LH>'}}

In [36]:
second_row = tweets_DM.iloc[1]
second_row['_source']['tweet']

{'hashtags': ['freepress', 'TrumpLegacy', 'CNN'],
 'tweet_id': '0x2d5350',
 'text': '@brianklaas As we see, Trump is dangerous to #freepress around the world. What a <LH> <LH> #TrumpLegacy.  #CNN'}

# Preprocessing

In [52]:
processed_tweets_DM = tweets_DM.copy()

def get_id(row):
    return row['_source'].get('tweet').get('tweet_id')
processed_tweets_DM['tweet_id'] = processed_tweets_DM.apply(get_id, axis=1)
print("finish get id")

def get_hashtags(row):
    return row['_source'].get('tweet').get('hashtags')
processed_tweets_DM['hashtags'] = processed_tweets_DM.apply(get_hashtags, axis=1)
print("finish get hashtags")

def get_text(row):
    return row['_source'].get('tweet').get('text')
processed_tweets_DM['text'] = processed_tweets_DM.apply(get_text, axis=1)
print("finish get text")

processed_tweets_DM.drop(['_index', '_source', '_type'], axis=1, inplace=True)
processed_tweets_DM

finish get id
finish get hashtags
finish get text

,_score,_crawldate,tweet_id,hashtags,text
0,391,2015-05-23 11:42:47,0x376b20,[Snapchat],"People who post ""add me on #Snapchat"" must be ..."
1,433,2016-01-28 04:52:09,0x2d5350,"[freepress, TrumpLegacy, CNN]","@brianklaas As we see, Trump is dangerous to #..."
2,232,2017-12-25 04:39:20,0x28b412,[bibleverse],"Confident of your obedience, I write to you, k..."
3,376,2016-01-24 23:53:05,0x1cd5b0,[],Now ISSA is stalking Tasha 😂😂😂 <LH>
4,989,2016-01-08 17:18:59,0x2de201,[],"""Trust is not the same as faith. A friend is s..."
...,...,...,...,...,...
1867530,827,2015-05-12 12:51:52,0x316b80,"[mixedfeeling, butimTHATperson]",When you buy the last 2 tickets remaining for ...
1867531,368,2017-10-02 17:54:04,0x29d0cb,[],I swear all this hard work gone pay off one da...
1867532,498,2016-10-10 11:04:32,0x2a6a4f,[],@Parcel2Go no card left when I wasn't in so I ...
1867533,840,2016-09-02 14:25:06,0x24faed,[],"Ah, corporate life, where you can date <LH> us..."
1867534,360,2016-11-16 01:40:07,0x34be8c,[Sundayvibes],Blessed to be living #Sundayvibes <LH>

In [53]:
processed_tweets_DM = pd.merge(processed_tweets_DM, data_identification, on='tweet_id')
processed_tweets_DM['identification'].isna().sum()

0

In [59]:
train_df = processed_tweets_DM[processed_tweets_DM['identification']=="train"].drop(['identification'], axis=1)
test_df = processed_tweets_DM[processed_tweets_DM['identification']=="test"].drop(['identification'], axis=1)
train_df = pd.merge(train_df, emotion, on='tweet_id')

In [60]:
train_df

,_score,_crawldate,tweet_id,hashtags,text,emotion
0,391,2015-05-23 11:42:47,0x376b20,[Snapchat],"People who post ""add me on #Snapchat"" must be ...",anticipation
1,433,2016-01-28 04:52:09,0x2d5350,"[freepress, TrumpLegacy, CNN]","@brianklaas As we see, Trump is dangerous to #...",sadness
2,376,2016-01-24 23:53:05,0x1cd5b0,[],Now ISSA is stalking Tasha 😂😂😂 <LH>,fear
3,120,2015-06-11 04:44:05,0x1d755c,"[authentic, LaughOutLoud]",@RISKshow @TheKevinAllison Thx for the BEST TI...,joy
4,1021,2015-08-18 02:30:07,0x2c91a8,[],Still waiting on those supplies Liscus. <LH>,anticipation
...,...,...,...,...,...,...
1455558,94,2016-12-26 02:44:07,0x321566,"[NoWonder, Happy]",I'm SO HAPPY!!! #NoWonder the name of this sho...,joy
1455559,627,2015-04-01 08:14:56,0x38959e,[],In every circumtance I'd like to be thankful t...,joy
1455560,274,2016-11-17 23:46:22,0x2cbca6,[blessyou],there's currently two girls walking around the...,joy
1455561,840,2016-09-02 14:25:06,0x24faed,[],"Ah, corporate life, where you can date <LH> us...",joy
1455562,360,2016-11-16 01:40:07,0x34be8c,[Sundayvibes],Blessed to be living #Sundayvibes <LH>,joy

In [58]:
test_df

,_score,_crawldate,tweet_id,hashtags,text
2,232,2017-12-25 04:39:20,0x28b412,[bibleverse],"Confident of your obedience, I write to you, k..."
4,989,2016-01-08 17:18:59,0x2de201,[],"""Trust is not the same as faith. A friend is s..."
9,66,2015-09-09 09:22:55,0x218443,"[materialism, money, possessions]",When do you have enough ? When are you satisfi...
30,104,2015-10-10 14:33:26,0x2939d5,"[GodsPlan, GodsWork]","God woke you up, now chase the day #GodsPlan #..."
33,310,2016-10-23 08:49:50,0x26289a,[],"In these tough times, who do YOU turn to as yo..."
...,...,...,...,...,...
1867525,602,2016-12-10 18:01:00,0x2913b4,[],"""For this is the message that ye heard from th..."
1867529,598,2015-01-04 14:40:55,0x2a980e,[],"""There is a lad here, which hath five barley l..."
1867530,827,2015-05-12 12:51:52,0x316b80,"[mixedfeeling, butimTHATperson]",When you buy the last 2 tickets remaining for ...
1867531,368,2017-10-02 17:54:04,0x29d0cb,[],I swear all this hard work gone pay off one da...
1867532,498,2016-10-10 11:04:32,0x2a6a4f,[],@Parcel2Go no card left when I wasn't in so I ...